{% extends 'base.html' %}

{% block title %}Dashboard - GaiaTrack{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Dashboard</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to GaiaTrack</h5>
                    <p class="card-text">This is your dashboard. You can start adding content here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 